.v1 {color: #663399;

}




.v2 { color: #fa8072;

}




.v3 { color:#dc143c ; 

}



.v4 { color:#8b008b ;

}



.v5 { color:#048f61 ;

}




.v6 { color: #dc143c ;

}